# Django
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
DEBUG=DEBUG

# Database
DB_ENGINE=DB_ENGINE
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=DB_HOST
DB_PORT=DB_PORT

# ACCOUNT DEFAULTS
ADMIN_USERNAME=ADMIN_USERNAME
ADMIN_PASSWORD=ADMIN_PASSWORD
DUMMY_USERNAME=DUMMY_USERNAME
DUMMY_PASSWORD=DUMMY_PASSWORD

# Email
EMAIL_BACKEND=EMAIL_BACKEND
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=testpblne@gmail.com
EMAIL_HOST_PASSWORD=zcflqpsjjhdjusno
EMAIL_USE_TLS=True

CONTACT_EMAIL=testpblne@gmail.com

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DEFAULT_DB=0

# Celery
# celery -A FoodCaloEstimate.celery worker -P solo -l INFO
# use RabbitMQ as broker
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672
REDIS_DB_CELERY_RESULT_BACKEND=2
