# Copyright (C)
# date: 09-05-2025
# author: cuongwf1711
# email: ruivalien@gmail.com

# Django
DJANGO_SECRET_KEY = DJANGO_SECRET_KEY
DEBUG = DEBUG
MAIN_URL = MAIN_URL

# Database
DB_ENGINE = DB_ENGINE
DB_NAME = DB_NAME
DB_USER = DB_USER
DB_PASSWORD = DB_PASSWORD
DB_HOST = DB_HOST
DB_PORT = DB_PORT

# Account defaults
ADMIN_USERNAME = ADMIN_USERNAME
ADMIN_PASSWORD = ADMIN_PASSWORD
DUMMY_USERNAME = DUMMY_USERNAME
DUMMY_PASSWORD = DUMMY_PASSWORD

# Email
EMAIL_BACKEND = EMAIL_BACKEND
EMAIL_HOST = EMAIL_HOST
EMAIL_PORT = EMAIL_PORT
EMAIL_HOST_USER = EMAIL_HOST_USER
EMAIL_HOST_PASSWORD = EMAIL_HOST_PASSWORD
EMAIL_USE_TLS = EMAIL_USE_TLS
CONTACT_EMAIL = CONTACT_EMAIL

# Redis configuration
REDIS_HOST = REDIS_HOST
REDIS_PORT = REDIS_PORT
REDIS_DEFAULT_DB = REDIS_DEFAULT_DB

# Celery configuration
CELERY_BROKER_URL = CELERY_BROKER_URL
REDIS_DB_CELERY_RESULT_BACKEND = REDIS_DB_CELERY_RESULT_BACKEND

# Cloudinary settings
CLOUDINARY_CLOUD_NAME = CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY = CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET = CLOUDINARY_API_SECRET

# API key for DINOX
API_KEY_DINOX = API_KEY_DINOX


# azure:
# sudo apt-get install screen

# screen -S django-rest-server-api

# python manage.py runserver

# screen -S celery-server
 # celery ...

# screen -ls
# screen -r django-api
# exit
# echo $STY, echo $TERM
python manage.py runserver 0.0.0.0:8000 --noreload
